html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.card {
    border-radius: 10px !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 120px;
    z-index: 10;
}
.ant-radio-group {
  display: flex !important;
  justify-content: center;
  max-width: 720px !important;
  border: none !important;
}
.ant-radio-button-wrapper{
  padding: 0 137px !important;
  border: none !important;
  border-radius: 30px !important;
  height: 35px !important;
  font-size: 1rem !important;
}
.ant-radio-button-wrapper:hover{
  color: #ffc753 !important;
  border: none !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #000 !important;
  color: #ffc753 !important;
  border: none !important;
  

}

.selectList {
  font-size: 35px !important;
  color: #212121 !important;
  margin: 20px 0 20px 0 !important;
  width: 150px !important;
}

@media screen and (max-width: 710px){
  
}